<section>
    <div class="container">
        <div class="card container">
            <div>
                <h3 class="text-center" ><i class="fa fa-smile-o" aria-hidden="true"></i>&nbsp;&nbsp;John Ivey</h3>
                <p><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;Phone: 9999999999</p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;E-mail: johnivey@gmail.com</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Address: 51st Avenue, Park Street</p>
            </div>
            
        </div>
        <div class="card container">
            <div>
                <h3 class="text-center" ><i class="fa fa-smile-o" aria-hidden="true"></i>&nbsp;&nbsp;John Ivey</h3>
                <p><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;Phone: 9999999999</p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;E-mail: johnivey@gmail.com</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Address: 51st Avenue, Park Street</p>
            </div>
        </div>
    </div>
</section>