<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center">John Ivey</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p><label>Phone:</label> 9999999999</p>
            </div>
            <div class="col-md-6">
                <p><label>E-mail:</label> johnivey@gmail.com</p>
            </div>
        </div>
        <br>
        <form class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="message">Send message as Text</label>
                    <input id="message" name="Message" class="form-control" type="text" maxlength="140" pattern="^.+$">
                </div>
                <div class="col-md-6">
                    <label for="message">Send message as Mail</label>
                    <input id="message" name="Message" class="form-control" type="text" pattern="^.+$">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <button class="btn btn-block btn-primary"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;Send Text</button>
                </div>
                <div class="col-md-3 col-md-offset-4">
                    <button class="btn btn-block btn-info"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Send Mail</button>
                </div>
            </div>
        </form>
    </div>
</section>