        <section>
            <br>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <th>CHECK</th>
                        <th>NAME</th>
                        <th>PHONE</th>
                        <th>EMAIL</th>
                        <th>ADDRESS</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><form class="form-group"><input type="checkbox"></form></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="btn btn-md btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</button></td>
                            <td><button class="btn btn-md btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>