body{
    font-family: "Helvetica Neue",sans-serif;
}
.mainHead{
    font-family: "Helvetica Neue",sans-serif; 
    font-size: 30px;
    font-weight: 300;
}
.formDiv{
    position: absolute;
    width: 600px;
    left: 450px;
}
.error{
    color: rgba(255,0,0,0.5);
}
.navbar{
    background-color: rgba(0,0,0,0.2) !important;
}
.card{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.4);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: inline-block;
    width: 450px;
    height: 170px;
    height: 160px;
    font-size: 15px;
}